.wth{
  display: inline-block;
  margin-right:20px;
  width:200px;
  height: 200px;
  background-color: aqua;
  position: relative;
}

.sunny .tri{
  position: absolute;
  /* width:90px;
  height: 90px; */
  left:40px;
  border:60px solid transparent;
  animation: sunScale 2s linear 0s infinite;
}
.sunny .up{
   border-top:100px solid  yellow;
   top:70px;
}
.sunny .down{
  border-bottom:100px solid yellow;
  top:-30px;
}
.sun{
  position: absolute;
  border:40px solid orange;
  border-radius: 40px;
  top:60px;
  left:60px;
  box-shadow: 0 0 20px orange;
}
.shine{
  width:80px;
  height: 80px;
  background-color: yellow;
  transform: rotate(45deg);
  position: absolute;
  top:60px;
  left:60px;
  box-shadow: 10px yellow;
  animation: sunScale1 2s linear 0s infinite;
}

.cloud{
  position: absolute;
  top:30px;
  left:30px;
  width:60px;
  height:60px;
  border-radius: 60px;
  background-color: #fff;
  box-shadow: 
    	#fff 22px -15px 0 6px,
    	#fff 57px -6px 0 2px, 
    	#fff 87px 4px 0 -4px,
    	#fff 33px 6px 0 6px,
    	#fff 61px 6px 0 2px,
    	#ccc 29px -23px 0 6px,
    	#ccc 64px -14px 0 2px,
    	#ccc 94px -4px 0 -4px;
}
.drop{
  position: absolute;
        top:50%;
        left: 30%;
        width: 4px;
        height: 14px;
        background: #fff;
        border-radius: 2px;
      box-shadow:
   	    #fff 25px -10px 0,
   	    #fff 50px 0 0,
   	    #fff 75px -10px 0,
   	    #fff 0 25px 0,
   	    #fff 25px 15px 0,
   	    #fff 50px 25px 0,
   	    #fff 75px 15px 0,
   	    #fff 0 50px 0,
   	    #fff 25px 40px 0,
   	    #fff 50px 50px 0,
   	    #fff 75px 40px 0;
}
.snow{
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

@keyframes sunScale1 {
  0% {
      transform: rotate(45deg) scale(1);
  }
  50% {
    transform:rotate(45deg) scale(0.9);
  }
  100% {
      transform: rotate(45deg) scale(1);
  }
}

@keyframes sunScale {
  0% {
      transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

